<h1 class="text-center">You are Alexis!</h1>
  <br/>
  
  <center><iframe src="https://giphy.com/embed/3ohze2wTnxn6HK9w9q" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/schittscreek-poptv-pop-tv-comedy-funny-eugenelevy-danlevy-schittscreek-3ohze2wTnxn6HK9w9q">via GIPHY</a></p></center>
<br/>
  <h2>You are confident, fun-loving, and you know how to work a room. You have the best stories and have lived an interesting and crazy life. Under all the charisma and self-confidence is a lot of depth and empathy. Enjoy this fun poppy playlist!
  </h2>
  <br/>
    <center><iframe src="https://open.spotify.com/embed/playlist/7cQxdMUBnaz3nHQR0pOo8z" width="640" height="720" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></center>