<h1 class="text-center">You are Moira!</h1>
<br/>
<center><iframe src="https://giphy.com/embed/3ohzdFnjF3Sgz8Itwc" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/schittscreek-schittscreek-eugenelevy-funny-tv-comedy-pop-3ohzdFnjF3Sgz8Itwc">via GIPHY</a></p></center>
<br/>
<h2>You're assertive, eloquent, and a natural leader. You always get the show going and get the party started. Sometimes you need to take other people's feeling into consideration but you always want to push people to their full potential. Here is your playlist!
</h2>
<br/>
<center><iframe src="https://open.spotify.com/embed/playlist/00aaPYkvqRSwZmwKuC8Gp4" width="640" height="720" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></center>