<center><h1 class="text-center">You are Patrick!</h1></center>
<br/>
<center><iframe src="https://giphy.com/embed/87enfroHkX6GNvoeQe" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbc-schittscreek-schitts-creek-87enfroHkX6GNvoeQe">via GIPHY</a></p></center>
<br/>
<h2>You are ambitious, charming, and creative. You know how to get things done and how to show people that you really love and care about them. Sometimes you worry that people will not love you as much as you love them. But you're so awesome that they definitely do! Here is your playlist!
</h2>
<br/>
<center><iframe src="https://open.spotify.com/embed/playlist/0ATk6aMEwcZ4DBeL3OUdRp" width="640" height="720" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></center>
<br>