<h1 class="text-center">You are Roland!</h1>
<br/>
<center><iframe src="https://giphy.com/embed/KyEriTHnJekojAxfqt" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbc-schittscreek-schitts-creek-KyEriTHnJekojAxfqt">via GIPHY</a></p></center>
<br/>
<h2>You're carefree, goofy, and friendly. You love your family and friends super well and are passionate about where you come from. Sometimes you can be a little aloof but you always want what is best for everyone. Here is your playlist!
</h2>
<br/>
<center><iframe src="https://open.spotify.com/embed/playlist/5yoDghWcjO3TbBD0XaQslC" width="640" height="720" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></center>
<br>