<h1 class="text-center">You are Ted!</h1>
<br/>
<center><iframe src="https://giphy.com/embed/8YvEHjgaqDUbfkBLnX" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/schittscreek-schitts-creek-8YvEHjgaqDUbfkBLnX">via GIPHY</a></p></center>
<br/>
<h2>You're an all around nice person! You're caring, friendly, and jovial. You often have trouble describing your feelings but you know how to care for people with your actions. Here is your playlist!
</h2>
<br/>
<center><iframe src="https://open.spotify.com/embed/playlist/3y5ap2chM3elBRCzJCPpTR" width="640" height="720" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></center>