<center>
<h1>Take the Quiz!</h1>

<br>

<p>Are you more extroverted or introverted?</p>
<form class="quiz-form" action="/quiz" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="radio" name="schitt[question1]" value="extrovert" > Extroverted<br>
  <input type="radio" name="schitt[question1]" value="introvert"> Introverted<br>
  <input type="radio" name="schitt[question1]" value="between"> Somewhere in between<br>
  <input type="radio" name="schitt[question1]" value="nolabel">Don't label me<br>

  <br>

<p>Ideal first date?</p>
  <input type="radio" name="schitt[question2]" value="adventure"> Something adventurous like skydiving or bungee jumping!<br>
  <input type="radio" name="schitt[question2]" value="simple"> Something simple, just dinner and movies<br>
  <input type="radio" name="schitt[question2]" value="dont"> I don't really "do" dates<br>
  <input type="radio" name="schitt[question2]" value="activity"> Take a dance class and then get a cocktail. I love doing activities on dates!<br>

  <br>

  <p>Where would you most like to live?</p>
  <input type="radio" name="schitt[question3]" value="newyorkcity"> New York City<br>
  <input type="radio" name="schitt[question3]" value="colorado"> Middle of nowhere Colorado<br>
  <input type="radio" name="schitt[question3]" value="asheville"> Asheville, North Carolina<br>
  <input type="radio" name="schitt[question3]" value="sandiego"> San Diego, California<br>

  <br>

  <p>What is your favorite movie genre?</p>
  <input type="radio" name="schitt[question4]" value="romcom"> A good Romantic Comedy. The cheesier the better!<br>
  <input type="radio" name="schitt[question4]" value="western"> Western<br>
  <input type="radio" name="schitt[question4]" value="drama"> Critically acclaimed Drama that will most likely be nominated for an Oscar<br>
  <input type="radio" name="schitt[question4]" value="action"> Action! I just want to see explosions and fight scenes!<br>

  <br>

  <p>How would you define your clothing style?</p>
  <input type="radio" name="schitt[question5]" value="edgy"> Edgy<br>
  <input type="radio" name="schitt[question5]" value="sophisticated"> Sophisticated and cute!<br>
  <input type="radio" name="schitt[question5]" value="expensive"> Expensive<br>
  <input type="radio" name="schitt[question5]" value="casual"> Casual, comfort over appearance<br>

  <br>

  <p>You're at a house party and you do not know a single person. How do you handle yourself?</p>
  <input type="radio" name="schitt[question6]" value="food"> Hang out by the food and beverages until someone strikes up a conversation with me<br>
  <input type="radio" name="schitt[question6]" value="chat"> Just start chatting with anyone and everyone. I've never met a stranger! <br>
  <input type="radio" name="schitt[question6]" value="drunk"> Just get really drunk until I have enough confidence to talk to someone<br>
  <input type="radio" name="schitt[question6]" value="noshow"> I am not going to a house party where I do not know anyone<br>

  <br>

  <p>You have time off from work for a vacation. Where are you going?</p>
  <input type="radio" name="schitt[question7]" value="europe"> Flying first class to Europe! Champagne in Zurich! Shopping in Paris! Romantic evenings in Barcelona!<br>
  <input type="radio" name="schitt[question7]" value="roadtrip"> Taking a road trip to the mountains for some skiing<br>
  <input type="radio" name="schitt[question7]" value="airbnb"> Traveling alone and booking an Airbnb so that I can explore a city that I've never been to<br>
  <input type="radio" name="schitt[question7]" value="camping"> Going camping and becoming one with nature<br>

  <br>

  <p>What job would you like the most?</p>
  <input type="radio" name="schitt[question8]" value="cafeowner"> Owning a small town cafe or bar. I love the simple life!<br>
  <input type="radio" name="schitt[question8]" value="lawyer"> Powerful lawyer at a PR conglomerate<br>
  <input type="radio" name="schitt[question8]" value="curator"> An art curator at a museum in a big city<br>
  <input type="radio" name="schitt[question8]" value="actor"> Actor or musician<br>

<br>

  <input type="submit">

  <br/>

</form> 
</center>
