<% if @name == "DavidRose" %>
<h1 class="text-center">You are David!</h1>
  <br />
  <h2>You are quick-witted, edgy, and original. 
      You are full of good ideas and sarcasm. 
      But underneath all the sarcasm is a layer of anxiety
      and a wall you've built to keep other people out.
      However, once you know who to trust, you let them into your life with open arms. Enjoy this great indie playlist!
  </h2>

<% elsif @name == "AlexisRose" %>
<h1 class="text-center">You are Alexis!</h1>
  <br/>
  <h2>You are confident, fun-loving, and you know how to work a room. You have the best stories and have lived an interesting and crazy life. Under all the charisma and self-confidence is a lot of depth and empathy. Enjoy this fun poppy playlist!
  </h2>

<% elsif @name == "StevieBudd" %>
<h1 class="text-center">You are Stevie!</h1>

<% elsif @name == "Patrick" %>
<h1 class="text-center">You are Patrick!</h1>
<% elsif @name == "TedMullens" %>
<h1 class="text-center">You are Ted!</h1>
<% elsif @name == "JohnnyRose" %>
<h1 class="text-center">You are Johnny!</h1>
<% elsif @name == "MoiraRose" %>
<h1 class="text-center">You are Moira!</h1>
<% elsif @name == "RowlandSchitt" %>
<h1 class="text-center">You are Roland!</h1>

<% end %>

