@import "bootstrap";

hr {
  clear:both;
}

.title {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 30px;
}

.navbar {
  box-shadow: 0px;
}

header {
  background: image_url('wheat.png');
  font-family: 'Noto Sans', sans-serif;
  border-top: 15px solid #f0f2f5;
  border-bottom: 15px solid #f0f2f5;
}

.links {
  padding-left: 5%;
}

.links a {
  font-size: 25px;
  color: white;
}

iframe {
  border: 15px solid #f0f2f5
}

.hero {
  border-top: 15px solid #f0f2f5;
  border-bottom: 15px solid #f0f2f5;
  background: image_url('schittscreek4.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

body {
  background: image_url('unsplash2.jpg');
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

p {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

form {
  font-family: 'Noto Sans', sans-serif;
  padding-left: 10%;
  color: white;
}









