@import "bootstrap";



.title {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 30px;
}

hr {
  clear:both;
}


.links {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: white;
}


.hero {
  background: image_url('schittscreek2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

body {
  background: image_url('unsplash2.jpg');
}

h1 {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

p {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

form {
  font-family: 'Noto Sans', sans-serif;
  padding-left: 10%;
  color: white;
}







